In [1]:
import pandas as pd
import numpy as np

In [3]:
df0 = pd.read_csv("data_clean_01.csv")

In [2]:
# Quedarse con una columna con el nombre completo y otra con el mail

In [8]:
df = pd.DataFrame()

for n in range(0,len(df0)):
    
    ## email
    e_s = df0["full"][n].index("<") + 1
    e_e = df0["full"][n].index(">")
    df.at[n,'email'] = df0["full"][n][e_s:e_e]
    
    ## name
    n_s = 0
    n_e = df0["full"][n].index("<")
    df.at[n,'name'] = df0["full"][n][n_s:n_e]
    
    ### else info
    df.at[n,'Team'] = df0['Team'][n]
    df.at[n,'check'] = df0['check'][n]

In [11]:
# Punto A
df.head()

              email                      name      Team  check
0   afreitas@ns.com  Ariane Freitas de Souza   Producto  False
1  alima@amelay.com              Amanda Lima        MKT   True
2   asanchez@ns.com          Agustin Sanchez        MKT  False
3      avago@ns.com                 Ale Vago         BI  False
4    cdaponte@ns.me   Cristobal Toto Daponte   Producto   True

In [16]:
#punto B
df_b0 = df[df["check"]==True].reset_index(drop=True)

In [24]:
df_b = df_b0[["Team","check"]]

In [25]:
df_b.head()

        Team check
0        MKT  True
1   Producto  True
2  Proyectos  True
3        MKT  True
4  Proyectos  True

In [26]:
df_b_g = df_b.groupby("Team").count

In [27]:
df_b_g()

           check
Team
All            1
BI             6
MKT            5
Producto       4
Proyectos      4